<section class="hero">
  <nav>
    <p class="navText" ng-click="$ctrl.jumpToPortfolio()">Portfolio</p>
    <p class="navText" ng-click="$ctrl.jumpToAbout()">About</p>
    <p class="navText">Contact</p>
  </nav>
  <a target="_blank" href="https://www.linkedin.com/in/jramer/"><img class="headshot" src="../assets/Jon.JPG" alt="Photo of Jon Ramer"></a>
  <p class="name">Jon Ramer</p>
  <p class="title" media="(max-width: 355px)">Full-Stack Web Developer</p>
</section>


<h1 id="portfolioSection">Portfolio</h1>

<main>
  <section class="project" ng-click="$ctrl.loadItunes()">
    <img class="thumbnail" src="../assets/itunes.png" alt="">
    <h4>My First Web App</h4>
  </section>
    <section class="project" ng-click="$ctrl.loadSimon()">
      <img class="thumbnail" src="../assets/RetroSimon.png" alt="">
      <h4>Javascript Simon</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadReactSimon()">
      <img class="thumbnail" src="../assets/reactsimon.png" alt="">
      <h4>React Native Simon</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadReddit()">
      <img class="thumbnail" src="../assets/reddit.png" alt="">
      <h4>Angular Reddit Clone</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadBwwmc()">
      <img class="thumbnail" src="../assets/BWWMC.png" alt="">
      <h4>BWWMC</h4>
    </section>

    <section class="project">
      <img class="thumbnail" src="../assets/capstone.jpg" alt="">
      <h4>Capstone</h4>
    </section>
</main>

<section class="about">
  <p class="aboutHeader">About</p>
  <p class="aboutText">Greetings, I'm Jon. I have a passion for learning new things and solving interesting problems. I have always had a passion for technology. If you are in need of a web developer I am always looking for opportunities to expand my portfolio. I would love to hear from you!</p>
  <!-- <p class="aboutText">I am looking for opportunities to expand my portfolio. If you're in need of a web developer I would love to hear from you. I would love to hear from you.</p> -->
</section>

<section class="contact">

</section>

<footer>
  <div class="footerContainer">
    <section class="icon">
      <a target="_blank" href="https://github.com/JonDRamer"><img class="glyphicon" src="../assets/github.png" alt="GitHub Logo"></a>
      <p class="label">GitHub</p>
    </section>
    <section class="icon">
      <a target="_blank" href="https://www.linkedin.com/in/jramer/"><img class="glyphicon" src="../assets/linkedin.png" alt="LinkedIn Logo"></a>
      <p class="label">LinkedIn</p>
    </section>
    <section class="icon">
      <a target="_blank" href="https://medium.com/@JonRamer"><img class="glyphicon" src="../assets/medium.png" alt="Medium Blog Logo"></a>
      <p class="label">Blog</p>
    </section>
  </div>
</footer>
