<section class="projectHero">
  <nav>
    <p class="navText" ng-click="$ctrl.goHome()">Home</p>
    <p class="navText" ng-click="$ctrl.jumpToDescription()">Description</p>
    <a target="_blank" href="https://jramer87-bwwmc.herokuapp.com/"><p class="navText" ng-click="$ctrl.viewProject()">Project</p></a>
    <a target="_blank" href="https://github.com/JonDRamer/bwwmc"><p class="navText" ng-click="$ctrl.viewCode()">GitHub</p></a>
  </nav>
  <a target="_blank" href="https://jramer87-bwwmc.herokuapp.com/"><img class="featuredProject" src="../assets/bwwmc.png" alt="Screenshot from simon memory game"></a>
  <p class="name">Introducing</p>
  <p class="name">Bow Wow Where's My Chow?</p>
  <p class="title">A Dog Food Delivery App</p>
</section>



<main>
  <h1 id="portfolioSection">Description</h1>
  <section class="aboutProject">
    <p class="projectText">I worked with an amazing team to create BWWMC for my Q2 project at galvanize. The idea was to create an app that made having organic dog food delivered to your house a breeze. In the end we didn't get as far as we would have liked on this project, but we learned a ton about working in a team. It was a challenging and rewarding experience to work with a group on a large project for the first time.</p>
  </section>
</main>

<footer>
  <div class="footerContainer">
    <section class="icon">
      <a target="_blank" href="https://github.com/jondramer"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">GitHub</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">LinkedIn</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
      <p class="label">JRamer87@gmail.com</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-phone-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">469-345-0277</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-medium fa-4x" aria-hidden="true"></i></a>
      <p class="label">Blog</p>
    </section>
  </div>
</footer>
