<div class="sideNav">
  <p class="sideNavText" ng-click="$ctrl.goHome('nav')">Home</p>
  <p class="sideNavText" ng-click="$ctrl.jumpToPortfolio('nav')">Portfolio</p>
  <p class="sideNavText" ng-click="$ctrl.jumpToAbout('nav')">About</p>
  <p class="sideNavText" ng-click="$ctrl.jumpToSkills('nav')">Skills</p>
  <p class="sideNavText" ng-click="$ctrl.jumpToContact('nav')">Contact</p>
</div>

<div class="hamburger">
  <i class="fa fa-bars fa-3x" aria-hidden="true" ng-click="$ctrl.toggleNav('nav')"></i>
</div>

<section class="hero">
  <nav @media="max-width 400px">
    <p class="navText" ng-click="$ctrl.jumpToPortfolio()">Portfolio</p>
    <p class="navText" ng-click="$ctrl.jumpToAbout()">About</p>
    <p class="navText" ng-click="$ctrl.jumpToSkills()">Skills</p>
    <p class="navText" ng-click="$ctrl.jumpToContact()">Contact</p>
  </nav>
  <a target="_blank" href="https://www.linkedin.com/in/jramer/"><img class="headshot" src="../assets/Jon.JPG" alt="Photo of Jon Ramer"></a>
  <p class="name">Jon Ramer</p>
  <p class="title" media="(max-width: 355px)">Full-Stack Web Developer</p>
</section>



<main>
  <h1 id="portfolioSection">Portfolio</h1>
  <section class="project" ng-click="$ctrl.loadItunes()">
    <img class="thumbnail" src="../assets/iTunes.png" alt="">
    <h4>My First Web App</h4>
  </section>
    <section class="project" ng-click="$ctrl.loadSimon()">
      <img class="thumbnail" src="../assets/RetroSimon.png" alt="">
      <h4>Retro Simon</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadReactSimon()">
      <img class="thumbnail" src="../assets/reactsimon.png" alt="">
      <h4>React Native Simon</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadReddit()">
      <img class="thumbnail" src="../assets/reddit.png" alt="">
      <h4>Angular Reddit Clone</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadBwwmc()">
      <img class="thumbnail" src="../assets/BWWMC.png" alt="">
      <h4>BWWMC</h4>
    </section>

    <section class="project" ng-click="$ctrl.loadCapstone()">
      <img class="thumbnail" src="../assets/conservateur.png" alt="">
      <h4>Conservateur</h4>
    </section>
</main>

<section class="about">
  <p class="aboutHeader">About Me</p>
  <p class="aboutText1">Hi, I'm Jon. I have spent the last 9 years in project management and marketing software for one of the leading brands in the fitness industry.  Working closely with technology products peaked my interest in how they were made.  In August of 2016 I decided to make a career change.  My wife and I packed up our things and moved from Dallas to Austin so that I could attend a coding bootcamp.  I started teaching myself to code and after just a couple of months I got into galvanize.</p>
  <p class="aboutText2">Galvanize is a 6 month full-stack web development immersive in downtown Austin.  During the program I trained in the NEAP stack.  I also managed to pick up a few additional technologies on the side.  On July 21st  2017 I will graduate from galvanize and will be seeking my first web development role.  I couldn't be more excited to kick start my new career.  Thanks for stopping by!  Take a look around and don't hesitate to reach out to me if you have any questions.  I'd love to meet you!</p>
</section>

<section class="skills">
  <h1>My Skills</h1>
  <i class="fa fa-code fa-2x" aria-hidden="true"></i>
  <div class="skillsSection">
    <p class="skill">Node</p>
    <p class="skill">Express.js</p>
    <p class="skill">PostgreSQL</p>
    <p class="skill">Knex.js</p>
    <p class="skill">Git</p>
  </div>
  <div class="skillsSection">
    <p class="skill">GitHub</p>
    <p class="skill">Javascript</p>
    <p class="skill">HTML</p>
    <p class="skill">CSS</p>
    <p class="skill">jQuery</p>
  </div>
  <div class="skillsSection">
    <p class="skill">Agile</p>
    <p class="skill">Bootstrap</p>
    <p class="skill">Angular</p>
    <p class="skill">AJAX</p>
    <p class="skill">Rest APIs</p>
  </div>
  <div class="skillsSection">
    <p class="skill">TDD</p>
    <p class="skill">Mocha</p>
    <p class="skill">Chai</p>
    <p class="skill">Supertest</p>
    <p class="skill">React Native</p>
  </div>
</section>

<section class="chat">
  <h1 class="chatHeader" @media="max-width 650px" @media="max-width 390px">Let's Chat</h1>
  <i class="fa fa-arrow-down fa-3x arrow" aria-hidden="true"></i>
</section>

<footer>
  <div class="footerContainer">
    <section class="icon">
      <a target="_blank" href="https://github.com/jondramer"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">GitHub</p>
    </section>
    <section class="icon">
      <a target="_blank" href="https://www.linkedin.com/in/jramer/"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">LinkedIn</p>
    </section>
    <section class="icon">
      <a href="" ng-click="$ctrl.copyEmail()"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
      <p class="label">JRamer87@gmail.com</p>
    </section>
    <section class="icon">
      <a target="_blank" href="tel:469-345-0277"><i class="fa fa-phone-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">469-345-0277</p>
    </section>
    <section class="icon">
      <a target="_blank" href="https://medium.com/@JonRamer"><i class="fa fa-medium fa-4x" aria-hidden="true"></i></a>
      <p class="label">Blog</p>
    </section>
  </div>
</footer>
