<div class="sideNav">
  <p class="sideNavText" ng-click="$ctrl.goHome('nav')">Home</p>
  <p class="sideNavText" ng-click="$ctrl.jumpToDescription('nav')">Description</p>
  <a class="projectLinks" target="_blank" href="http://retrosimon.surge.sh/"><p class="sideNavText" ng-click="$ctrl.toggleNav('nav')">Project</p></a>
  <a target="_blank" href="https://github.com/JonDRamer/Simon-Game"><p class="sideNavText" ng-click="$ctrl.toggleNav('nav')">GitHub</p></a>
</div>

<div class="hamburger">
  <i class="fa fa-bars fa-3x" aria-hidden="true" ng-click="$ctrl.toggleNav('nav')"></i>
</div>

<section class="projectHero">
  <nav>
    <p class="navText" ng-click="$ctrl.goHome()">Home</p>
    <p class="navText" ng-click="$ctrl.jumpToDescription()">Description</p>
    <a target="_blank" href="http://retrosimon.surge.sh/"><p class="navText" ng-click="$ctrl.viewProject()">Project</p></a>
    <a target="_blank" href="https://github.com/JonDRamer/Simon-Game"><p class="navText" ng-click="$ctrl.viewCode()">GitHub</p></a>
  </nav>
  <a target="_blank"href="http://retrosimon.surge.sh/"><img class="featuredProject" src="../assets/RetroSimon.png" alt="Screenshot from simon memory game"></a>
  <p class="name">Introducing</p>
  <p class="name">Retro Simon</p>
  <p class="title">A Front End Javascript Game</p>
</section>

<main>
  <h1 id="portfolioSection">Description</h1>
  <section class="aboutProject">
    <p class="projectText">I created Retro Simon for my Q1 project at galvanize. I created this game in my fifth week of the program.  In Q1 of the program we learned front-end technologies like Javascript, HTML and CSS. Simon is a front-end only game, because well that's all I knew at that point in the program. It uses Javascript and jQuery to manipulate the DOM and display the game effects.</p>
  </section>
</main>

<footer>
  <div class="footerContainer">
    <section class="icon">
      <a target="_blank" href="https://github.com/jondramer"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">GitHub</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">LinkedIn</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
      <p class="label">JRamer87@gmail.com</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-phone-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">469-345-0277</p>
    </section>
    <section class="icon">
      <a target="_blank" href=""><i class="fa fa-medium fa-4x" aria-hidden="true"></i></a>
      <p class="label">Blog</p>
    </section>
  </div>
</footer>
