<div class="sideNav">
  <p class="sideNavText" ng-click="$ctrl.goHome('nav')">Home</p>
  <p class="sideNavText" ng-click="$ctrl.jumpToDescription('nav')">Description</p>
  <a class="projectLinks" target="_blank" href=""><p class="sideNavText" ng-click="$ctrl.toggleNav('nav')">Project</p></a>
  <a target="_blank" href=""><p class="sideNavText" ng-click="$ctrl.toggleNav('nav')">GitHub</p></a>
</div>

<div class="hamburger">
  <i class="fa fa-bars fa-3x" aria-hidden="true" ng-click="$ctrl.toggleNav('nav')"></i>
</div>

<section class="projectHero">
  <nav>
    <p class="navText" ng-click="$ctrl.goHome()">Home</p>
    <p class="navText" ng-click="$ctrl.jumpToDescription()">Description</p>
    <a target="_blank" href="https://conservateur.herokuapp.com/#!/Home"><p class="navText">Project</p></a>
    <a target="_blank" href="https://github.com/JonDRamer/Conservateur"><p class="navText">GitHub</p></a>
  </nav>
  <a target="_blank" href=""><img class="featuredProject" src="../assets/conservateur.png" alt="Screenshot from simon memory game"></a>
  <p class="name">Introducing</p>
  <p class="name">Conservateur</p>
  <p class="title">Curated Art Made Simple</p>
</section>



<main>
  <h1 id="portfolioSection">Description</h1>
  <section class="aboutProject">
    <p class="projectText">Conservateur is a way for aspiring art collectors to receive curated artwork that fits their budget and style. They simply fill out a form with their requirements and an art consultant sends them recommendations of what they should buy. Once they find that perfect piece they can purchase the work through the site.</p>
  </section>
</main>

<footer>
  <div class="footerContainer">
    <section class="icon">
      <a target="_blank" href="https://github.com/jondramer"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">GitHub</p>
    </section>
    <section class="icon">
      <a target="_blank" href="https://www.linkedin.com/in/jramer/"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">LinkedIn</p>
    </section>
    <section class="icon">
      <a href="mailto:jramer87@gmail.com" target="_top"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
      <p class="label">JRamer87@gmail.com</p>
    </section>
    <section class="icon">
      <a target="_blank" href="tel:469-345-0277"><i class="fa fa-phone-square fa-4x" aria-hidden="true"></i></a>
      <p class="label">469-345-0277</p>
    </section>
    <section class="icon">
      <a target="_blank" href="https://medium.com/@JonRamer"><i class="fa fa-medium fa-4x" aria-hidden="true"></i></a>
      <p class="label">Blog</p>
    </section>
  </div>
</footer>
