body {
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
  height: 10vh;
  width: 100vw;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 30vh;
  margin-right: 10%;
}

.navText {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #42718B;
  height: 40vh;
  width: 100vw;
}


/*Photo*/

.headshot {
  height: 150px;
  width: 150px;
  margin-top: 2%;
  border-radius: 100%;
}

.info {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*Portfolio Header*/

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  color: black;
  width: 100%;
  height: 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


/*Project Container*/

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}


/*Projects*/

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 30vh;
}


/*Project Titles*/

h4 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*Project Images*/

.thumbnail {
  height: 150px;
  width: 150px;
  box-shadow: 6px 7px 22px -2px rgba(0, 0, 0, 0.75);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 10vh;
  width: 100vw;
  background-color: #ffffff;
  border: 1px solid white;
  box-shadow: 6px 7px 22px 2px rgba(0, 0, 0, 0.75);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 8g0%;
  width: 30%;
}

.label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.glyphicon {
  height: 60px;
  width: 60px;
}
