html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*---------------------MY CSS STARTS HERE-----------------------------------*/

body {
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
  height: 12vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, 0.75);
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row wrap;
  height: 10vh;
  width: 100vw;
  margin-right: 10vw;
}

.navText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 7vh;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.navText:hover {
  cursor: pointer;
  color: #DCDCDC;
}

.hero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /*background-color: #42718B;*/
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/laptop.png");
  /*opacity: .8;*/
  background-repeat: no-repeat;
  background-size: cover;
}


/*Photo*/

.headshot {
  height: 300px;
  width: 300px;
  margin-top: 7vh;
  border: 5px solid white;
  border-radius: 100%;
}

.name {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.name:hover {
  color: #DCDCDC;
}

.title {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: white;
  margin-top: 0;
  margin-bottom: 7vh;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.title:hover {
  color: #DCDCDC;
}

@media (max-width: 355px) {
  .title {
    font-size: 25px;
  }
}


/*Portfolio Header*/

h1 {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-top: 5vh;
  margin-bottom: 0;
}


/*Project Container*/

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 19vh;
}


/*Projects*/

.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 35vh;
  margin-top: 5vh;
}


/*Project Titles*/

h4 {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 3vh;
}

h4:hover {
  cursor: pointer;
}


/*Project Images*/

.thumbnail {
  height: 200px;
  width: 200px;
  box-shadow: 6px 7px 22px -2px rgba(0, 0, 0, 0.75);
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 6px 7px 22px -2px rgba(0, 0, 0, 1);
}


/*About Section*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: black;
  width: 100vw;
  background-image: url("../assets/project.jpeg");
}

.aboutHeader {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: white;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.aboutText {
  display: flex;
  justify-content: center;
  width: 60vw;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2vh;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.skills {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  margin-bottom: 50px;
}

.skillsHeader {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: black;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

i {
  width: 100vw;
  text-align: center;
}

.skill {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 2vh;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.chat {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background-color: #FDCD3B;
  height: 30vh;
  width: 100vw;
}

.chatHeader {
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 20vh;
  width: 100vw;
  background-color: black;
  background-image: url("../assets/project.jpeg");
  box-shadow: 6px 7px 22px 2px rgba(0, 0, 0, 0.75);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 80%;
  width: 10%;
}

.label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #DCDCDC;
}


/*-----------------------------PROJECT PAGES---------------------------------*/

.featuredProject {
  height: 300px;
  width: 300px;
  margin-top: 7vh;
  border: 5px solid white;
  border-radius: 100%;
}

.aboutProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100vw;
}

.projectText {
  display: flex;
  justify-content: center;
  width: 60vw;
  color: black;
  margin-top: 0;
  margin-bottom: 5vh;
  padding: 2vw;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.projectHero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /*background-color: #42718B;*/
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/project.jpeg");
}
