body {
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
  height: 10vh;
  width: 100vw;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 40vh;
  margin-right: 10%;
}

.navText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 5vh;
  width: 5vw;
  margin-bottom: 0px;
}

.navText:hover {
  cursor: pointer;
  color: white;
  background-color: #42718B;
}

.hero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #42718B;
  height: 50vh;
  width: 100vw;
}


/*Photo*/

.headshot {
  height: 200px;
  width: 200px;
  margin-top: 2%;
  border: 3px solid white;
  border-radius: 100%;
}

.info {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*Portfolio Header*/

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  color: black;
  width: 100%;
  height: 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


/*Project Container*/

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vh;
}


/*Projects*/

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 35vh;
}


/*Project Titles*/

h4 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h4:hover {
  cursor: pointer;
}


/*Project Images*/

.thumbnail {
  height: 150px;
  width: 150px;
  box-shadow: 6px 7px 22px -2px rgba(0, 0, 0, 0.75);
}

.thumbnail:hover {
  cursor: pointer;
}


/*About Section*/

.about {
  display: flex;
  flex-flow: row wrap;
  background-color: #42718B;
  height: 60vh;
  width: 100vw;
}

.aboutHeader {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.aboutText {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 12vh;
  width: 100vw;
  background-color: #ffffff;
  border: 1px solid white;
  box-shadow: 6px 7px 22px 2px rgba(0, 0, 0, 0.75);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 80%;
  width: 30%;
}

.label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.glyphicon {
  height: 60px;
  width: 60px;
}

.glyphicon:hover {
  cursor: pointer;
}
